
.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}


/* hearder related styles */
header nav ul li{
    color: white;
    font-weight: medium;
}
hr{
    color: 1px solid rgba(65, 37, 103, 1);
}
/* header{
    border-bottom: 1px solid rgba(65, 37, 103, 1);
    width: 100%;
} */
.linear-text{
    background: linear-gradient(to right, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1),
    rgba(145, 0, 248, 1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/* shared styles */
/* button ar jonno */
.btn-primary{
    background: linear-gradient(to right, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1),
    rgba(145, 0, 248, 1));
    border-radius: 10000px;
}
.hamburger-menu{
    display: none;
}
/* main styles */
body{
    background-color: #1A0B2E;
}

/* Responsive Media Query Design */
/* only for small mobile device */
@media screen and (max-width: 576px){
    nav ul li, nav button{
        display: none;
    }
    .hamburger-menu{
        display: block;
        margin-right: 20px;
    }
    nav h1{
        margin-left: 20px;
    }
}
/* Responsive For Medium Device */
@media screen and (min-width: 576px) and (max-width: 992px) {

    .hamburger-menu, nav ul li{
        display: none;
    }
    nav button{
        display: block;
        margin-right: 20px;
    }
    nav h1{
        margin-left: 20px;
    }

}
